
#background{
	background-image: "GoMediaArsenal_WireframeSoundwaves_02.png">;
	width: 100%; 
	height: 100%;
}
#header{
	top: 0;
	right: 0;
	/*position: fixed;*/
	height: 10%;
	width:100%;
	background-color:white;
	z-index: 1;
}
a{
	color: black;
}
a:hover{
	background-color: red;
}
.logo{
    display: inline-block;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 250%;
    font-weight: bold;
    margin-top: 22px;
}
#logo_image{
	width: 55px;
	height: 55px;
}
.menu{
	display: inline-block;
	text-transform: uppercase;
	font-size: 150%;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	float: right;
	margin-top: 35px;
}
li{
	display: inline-block;
	padding: 14px;
}
.intro{
	top: 105px;
	height: 50%;
	width: 100%;
	background-color: white;
	position: fixed;
	max-height: 50%; 
	overflow: hidden;
	border-bottom-width: 10px;
	border-bottom-color: red;
}
.intro #intro_img{
	width: 1000px;
	height: 1000px;
}
.info {
	top: 0px;
	display: block;
	line-height: 1.8; 
}
#products{
	z-index: -1;
	position: fixed;
    size: 20;
}